<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>launched.bedtime</string>
	<key>ProgramArguments</key>
	<array>
		<string>sh</string>
		<string>-c</string>
		<string>~/Users/fraserwatt/Desktop/GitHub/shutdown/bedtime.sh</string>
	</array>
	<key>RootDirectory</key>
	<string>/Users/fraserwatt/Desktop/GitHub/shutdown</string>
	<key>StandardErrorPath</key>
	<string>/Users/fraserwatt/Desktop/GitHub/shutdown/logs/debug.stderr.log</string>
	<key>StandardOutPath</key>
	<string>/Users/fraserwatt/Desktop/GitHub/shutdown/logs/debug.stdout.log</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>0</integer>
			<key>Minute</key>
			<integer>11</integer>
			<key>Weekday</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>0</integer>
			<key>Minute</key>
			<integer>11</integer>
			<key>Weekday</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>0</integer>
			<key>Minute</key>
			<integer>11</integer>
			<key>Weekday</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>0</integer>
			<key>Minute</key>
			<integer>11</integer>
			<key>Weekday</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>0</integer>
			<key>Minute</key>
			<integer>11</integer>
			<key>Weekday</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>0</integer>
			<key>Minute</key>
			<integer>11</integer>
			<key>Weekday</key>
			<integer>6</integer>
		</dict>
	</array>
	<key>UserName</key>
	<string>fraserwatt</string>
	<key>WorkingDirectory</key>
	<string>/Users/fraserwatt/Desktop/GitHub/shutdown</string>
</dict>
</plist>
